<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MarketPlace</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/all.min.css">
</head>
<body>
    <div class="col-12">
        <header class="row">
            <!-- Top Nav -->
            <div class="col-12 bg-dark py-2 d-md-block d-none">
                <div class="row">
                    <div class="col-lg-10 col-md-9 me-auto">
                        <ul class="top-nav">
                            <li>
                                <a href="tel:+123-456-7890"><i class="fa fa-phone-square me-2"></i>+123-456-7890</a>
                            </li>
                            <li>
                                <a href="mailto:mail@marketplace.com"><i class="fa fa-envelope me-2"></i>mail@marketplace.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-3 ">
                        <ul class="top-nav">
                            <li>
                                <a asp-controller="Auth" asp-action="Register"><i class="fas fa-user-edit me-2"></i>Register</a>
                            </li>
                            <li>
                                <a asp-controller="Auth" asp-action="Login"><i class="fas fa-sign-in-alt me-2"></i>Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            

        </header>
    </div>
    <div @*class="container"*@>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="col-12 align-self-end">
        <!-- Footer -->
        <footer class="row">
            <div class="col-12 bg-dark text-white pb-3 pt-5">
                <div class="row">
                    <div class="col-lg-2 col-sm-4 text-center text-sm-left mb-sm-0 mb-3">
                        <div class="row">
                            <div class="col-12">
                                <div class="footer-logo">
                                    <a asp-controller="Home" asp-action="Index" >Marketplace</a>
                                </div>
                            </div>
                            <div class="col-12">
                                <address>
                                    Ain Shams University<br>
                                    Cairo, Egypt
                                </address>
                            </div>
                            <div class="col-12">
                                <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="social-icon"><i class="fab fa-pinterest-p"></i></a>
                                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-8 text-center text-sm-left mb-sm-0 mb-3">
                        <div class="row">
                            <div class="col-12 text-uppercase">
                                <h4>Who are we?</h4>
                            </div>
                            <div class="col-12 text-justify">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam imperdiet vel ligula vel sodales. Aenean vel ullamcorper purus, ac pharetra arcu. Nam enim velit, ultricies eu orci nec, aliquam efficitur sem. Quisque in sapien a sem vestibulum volutpat at eu nibh. Suspendisse eget est metus. Maecenas mollis quis nisl ac malesuada. Donec gravida tortor massa, vitae semper leo sagittis a. Donec augue turpis, rutrum vitae augue ut, venenatis auctor nulla. Sed posuere at erat in consequat. Nunc congue justo ut ante sodales, bibendum blandit augue finibus.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-3 col-5 ms-lg-auto ms-sm-0 ms-auto mb-sm-0 mb-3">
                        <div class="row">
                            <div class="col-12 text-uppercase">
                                <h4>Quick Links</h4>
                            </div>
                            <div class="col-12">
                                <ul class="footer-nav">
                                    <li>
                                        <a href="#">Home</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact Us</a>
                                    </li>
                                    <li>
                                        <a href="#">About Us</a>
                                    </li>
                                    <li>
                                        <a href="#">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms & Conditions</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 me-auto mb-sm-0 mb-3">
                        <div class="row">
                            <div class="col-12 text-uppercase text-underline">
                                <h4>Help</h4>
                            </div>
                            <div class="col-12">
                                <ul class="footer-nav">
                                    <li>
                                        <a href="#">FAQs</a>
                                    </li>
                                    <li>
                                        <a href="#">Shipping</a>
                                    </li>
                                    <li>
                                        <a href="#">Returns</a>
                                    </li>
                                    <li>
                                        <a href="#">Track Order</a>
                                    </li>
                                    <li>
                                        <a href="#">Report Fraud</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </footer>
        <!-- Footer -->
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
